@{
    ViewData["Title"] = "Boleta Generada";
}

<div class="text-center">
    <h1 class="display-4">Boleta Generada</h1>
    <p><strong>Nombre:</strong> @ViewBag.Nombre</p>
    <p><strong>DNI:</strong> @ViewBag.DNI</p>
    <p><strong>Email:</strong> @ViewBag.Email</p>
    <p><strong>Monto Convertido:</strong> @ViewBag.MontoConvertido @ViewBag.MonedaDestino</p>
</div>
